.footer-container {
    width: 100%;
    min-height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container_links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.footer-container_links {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: fit-content;
}

.footer-container_links_tittle {
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.footer-container_links_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
    li > a {
        font-family: var(--font-primary);
        font-size: 14px;
        color: #D1D5DC;
        text-decoration: none;
    }
}

.footer-container_rights {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 20px;
    height: 60px;
    border-top: 1px solid #364153;
}

.footer-container_rights_copyright {
    margin: 0;
    font-family: var(--font-primary);
    font-size: 14px;
    color: #D1D5DC;
}


@media (max-width: 900px) {
    .footer-container_links-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 34px;
        margin-bottom: 34px;
    }
}