.why-chooses_title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text);
    font-family: var(--font-secondary);
    margin-bottom: 24px;
    text-align: center;
}

.why-chooses_icon {
    width: fit-content;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-block);
    stroke: var(--color-block) !important;
    svg {stroke: var(--color-block) !important;};
    path {stroke: var(--color-block) !important;};
}

.why-chooses_text {
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;;
}

.why-chooses_subtext {
    font-family: var(--font-primary);
}

.why-chooses_panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    width: 100%;
    min-width: 171px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.why-chooses_block_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 36px;
}


@media (max-width: var(--limite-max-width-px)) {
    .why-chooses_panel {
        gap: 16px;
    }

    .why-chooses_block_wrapper {
        gap: 16px;
    }
}

.why-chooses_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-background);
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
    min-height: 144px;
    min-width: 356px;
}

@media (max-width: 900px) {
    .why-chooses_block {
        aspect-ratio: 1/1;
        max-width: 171px;
        min-width: 171px;
    }

    .why-chooses_panel {
        justify-content: center;
    }
}