.product-loved-by_title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
    font-family: var(--font-secondary);
    text-align: center;
}

.product-loved-by_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 192px;
  max-height: 508px;
  background-color: #FFFFFF;      
  padding: 48px;
  font-family: var(--font-secondary);
  gap: 16px;
  border-radius: 8px;
  p {
    margin: 0;
  }
}

.product-loved-by_arrow {
  background-color: var(--color-tertiary-meta);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-tertiary-background);
  line-height: 10px !important;
  svg {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  };
}

.left {
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.right {
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

.product-loved-by {
    font-size: 16px;
    font-family: var(--font-primary) !important;
}

.product-loved-by_subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    font-family: var(--font-primary) !important;
    color: #7A6F66;
    text-align: left;
    padding-bottom: 16px;
}

.product-loved-by_image {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 8px;
    max-height: 256px;
}

.product-loved-by_rating-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  gap: 8px;
  padding-bottom: 32px;
}

.product-loved-by_author {
  text-align: left;
  font-family: var(--font-primary) !important;
  font-weight: bold;
  font-size: 18px;
}

.product-loved-by_rating {
    text-align: left;
    font-size: 28px;
    color: #FFD700; 
}

.product-loved-by_dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%); 
}

.product-loved-by_dot {
  width: 12px;
  height: 12px;
  background-color: #C4C4C4; 
  border-radius: 50%;
  cursor: pointer;
}

.product-loved-by_dot:hover {
  background-color: #9a9a9a;
}

.product-loved-by_dot.active {
  background-color: var(--color-tertiary-meta); 
}

@media (max-width: 900px) {
  .product-loved-by_container {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content: center;
    text-align: left;
    p, span {
      width: 100%;
    }
  }

  .product-loved-by_dot {
    width: 12px !important;
    height: 12px !important;
  }

  .product-loved-by_arrow {
      display: none !important;
  }
}